/* Common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
ul, li{
    list-style: none;
}
.main-container{
    width: 85%;
    max-width: 1320px;
    margin: 0 auto; 
}
.max-width-primary{
    max-width: 750px;
}
.max-width-secondary{
    max-width: 393px;
}
.full-width{
    width: 100%;
}
.full-image{
    max-width: 100%;
    height: auto;
}

/* display css */
.display-flex{
    display: flex;
}

/* All Text css */
.font-primary{
    font-family: 'Merriweather', serif;
}
.font-secondary{
    font-family: 'Inter', sans-serif;
}
.text-white{
    color: #FFF;
}
.font-size-32{
    font-size: 32px;
}
.font-size-72{
    font-size: 72px;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-900{
    font-weight: 900;
}
.line-height-95{
    line-height: 95px; 
}
.text-center{
    text-align: center;
}

